.splash {
	position: relative;
	height: 100%;
	@include full-background-image("../images/backgrounds/trento.png");

	.footer {
		a {
			color:#fff;
			position: absolute;
			right: 1em; bottom: 1em;
            font-weight: 200;
            font-style: italic;
		}
	}

	.jumbo-slogan {
        font-family: raleway;
	    font-size: 6em;
	    text-transform: uppercase;
	    margin-top: 2em;
	    background-color: rgba(0,0,0,0.5);
	    color: #fff;
	    display: inline-block;
	    padding: 5px 20px 5px 20px;
        font-weight: 300;
	}

	.sub-jumbo-slogan {
	    font-size: 2.5em;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		display: inline-block;
		padding: 5px 20px 5px 20px;
		margin-top: -1em;
        font-weight: 200;
        min-width: 300px;
	}
}

.baker-pic-wrapper {
	text-align:center;
	img {
		display: inline;
		border-radius: 40px;
	}
}