.splash {
	position: relative;
	height: 100%;
	@include full-background-image("../images/backgrounds/trento.jpg");

	.footer {

		@include respond-to(tablet-desktop){
			position: absolute; left: 0; right: 0; bottom: 0;
		}

		text-align: center;
		padding-bottom: 1em;

		a {
			color:#fff;
        }

        .location {
            font-weight: 200;
            font-style: italic;
            background: {
            	image: url('../images/icons/pin.png');
            	size: 20px 20px;
            	repeat: no-repeat;
            }
            padding-left: 21px;
			min-height: 30px;
		}

        .down-arrow {
            display: block;
            background: {
                image: url('../images/icons/downarrow.png');
                size: 32px 32px;
                repeat: no-repeat;
            }
            height: 32px;
            width: 32px;
            margin: 0.5em auto 0 auto;
        }


	}

}

.twitter {
    a {
        color: #54aee1;
        text-decoration: none;
    }
}

.slogan-wrapper {

	@include respond-to(tablet-desktop){
		position:absolute; left:0; right:0; top:50%;
		height: 324px;
	}

	@include respond-to(mobile){
		padding-top:100px;
	}

	.jumbo-slogan {
        font-family: raleway;

	    @include respond-to(tablet-desktop){
			font-size: 6em;
		}

		@include respond-to(mobile){
			font-size: 3em;
		}

	    text-transform: uppercase;
	    margin-top: 0;
	    background-color: rgba(0,0,0,0.5);
	    color: #fff;
	    display: inline-block;
	    padding: 5px 20px 5px 20px;
        font-weight: 300;
	}

	.sub-jumbo-slogan {

		@include respond-to(tablet-desktop){
			font-size: 2.5em;
		}

		@include respond-to(mobile){
			font-size: 1.5em;

		}

		margin-top: -1em;

		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		display: inline-block;
		padding: 5px 20px 5px 20px;

        font-weight: 200;
        min-width: 300px;
	}

	div {
		@include respond-to(tablet-desktop){
			position: relative;top: -50%;
		}
	}
}

.baker-pic-wrapper {
	text-align:center;
	img {
		display: inline;
		border-radius: 40px;
	}
}

.mailing-signup {
    margin-top: 30px;

    .email {
        width: 250px;
        margin-right: 5px;
        padding: 4px 4px 5px 4px;
    }

    .button{

        -moz-border-radius:0px;
        -webkit-border-radius:0px;
        border-radius:0px;

        border:1px solid #dcdcdc;
        padding: 6px 18px;
        text-decoration:none;

        background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
        background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
        background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        background-color:#ededed;
        color:#777777;

        text-shadow:1px 1px 0px #ffffff;
        -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
        -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
        box-shadow:inset 1px 1px 0px 0px #ffffff;

        &:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
            background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
            background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
            background-color:#dfdfdf;
        }

        &:active {
            position:relative;
            top:1px;
        }
    }
}

.screen-center {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}