
.hr-small, .hr {
    border: none;
    margin: 10px auto;
    height: 10px;
}

.hr-small {
    width: 140px;
    background: {
        image: url('../images/icons/hr-small.png');
        repeat: no-repeat;
        position: 50% 50%;
    }
}

.hr {
    width: 780px;
    background: {
        image: url('../images/icons/hr-large.png');
        repeat: no-repeat;
        position: 50% 50%;
    }
}