.skilltide {

    padding-top: 100px;
    background-color: $light-grey;

    h1 {
        margin-bottom: 1em;
    }

    .container {
        background-color: white;
        padding: 50px 80px;
        box-shadow: 0 1px 3px $medium-grey;
        border: 1px solid $medium-grey;
    }

    ul {
        li {
            margin-top: 16px;
            line-height: 22px;
            color: $dark-grey;
            font-weight: 100;

            strong {
                color: black;
            }
        }
    }

    .contact {
        margin-bottom: 40px;
    }

    .field {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input, textarea {
            width: 90%;
            padding: 5px 5px 6px 5px;
        }

        textarea {
            height: 113px
        }
    }

    .hr-small {
        margin-top: 40px;
    }

}