<div class="row">
    <div class="span6">
        <div class="field">
            <label>Your name:</label>
            <input name="name" type="text" placeholder="name" required>
        </div>
        <div class="field">
            <label>Your email:</label>
            <input name="email" type="email" placeholder="email" required>
        </div>
        <div class="field">
            <label>Your company/project/url:</label>
            <input name="company" type="text" placeholder="yourproject.com" required>
        </div>
    </div>
    <div class="span6">
        <div class="field">
            <label>Where are you?</label>
            <input name="location" type="text" placeholder="location" required>
        </div>
        <div class="field">
            <label>Tell us how we can help:</label>
            <textarea name="message" type="text" placeholder="your message" required></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12 center">
        
        <div class="error-message hidden">Oops. Something went wrong. Try again.</div>

        <input type="submit" value="Send" name="subscribe" class="button">
        
        <div class="thank-you hidden">Thanks! We'll be in touch.</div>

        <div class="submitting hidden">Hold on...</div>

    </div>


</div>